<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset='UTF-8'>
  <div class="container">
    <div th:id ="title" class="text-center-mt-5">Welcome to your library</div>
    <div class="row">
      <div id="search" class="input-group mx-auto col-lg-6 col-md-8 col-sm-12"></div>
    </div>
    <input id="input" type="text"><button onclick="getBooks()">Get Books</button><br><div id="output"></div>

  </div>
</head>
<body>
<table border=1>
  <thead>
  <tr>
    <th>title</th>
    <th>key</th>
    <th>description</th>
    <th>location</th>
    <th>latest_revision</th>
    <th>revision</th>
    <th>type.key</th>
    <th>last_modified.type</th>
    <th>last_modified.value</th>
    <th>created.type</th>
    <th>created.value</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Fantastic Mr Fox</td>
    <td>/works/OL45804W</td>
    <td>The main character of Fantastic Mr. Fox is an extremely clever anthropomorphized fox named Mr. Fox. He lives with his wife and four little foxes. In order to feed his family, he steals food from the cruel, brutish farmers named Boggis, Bunce, and Bean every night.

      Finally tired of being constantly outwitted by Mr. Fox, the farmers attempt to capture and kill him. The foxes escape in time by burrowing deep into the ground. The farmers decide to wait outside the hole for the foxes to emerge. Unable to leave the hole and steal food, Mr. Fox and his family begin to starve. Mr. Fox devises a plan to steal food from the farmers by tunneling into the ground and borrowing into the farmer's houses.

      Aided by a friendly Badger, the animals bring the stolen food back and Mrs. Fox prepares a great celebratory banquet attended by the other starving animals and their families. Mr. Fox invites all the animals to live with him underground and says that he will provide food for them daily thanks to his underground passages. All the animals live happily and safely, while the farmers remain waiting outside in vain for Mr. Fox to show up.</td>
    <td>/works/OL45883W</td>
    <td>11</td>
    <td>11</td>
    <td>/type/work</td>
    <td>/type/datetime</td>
    <td>2022-11-14T19:55:19.965480</td>
    <td>/type/datetime</td>
    <td>2009-10-15T11:34:21.437031</td>
  </tr>
  <tr>
    <td></td>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
  </tr>
  </tbody>
</table>
</body>
</html>