<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>


              <h1>Welcome to Library Page</h1>

              <p> Here are all the books</p>

              <div th:each="book: ${books}">
                  <p th:text="${books.name}"> placeholderName</p>
                  <p th:text="${author.name}"> placeholderName</p>
                  <p th:text="${books.ISBN}"> placeholderISBN</p>


              </div>

</body>
</html>