<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>header</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />

    <style>
       .myImage {
         height: auto;
         width: auto;
         max-width: 25%;
         max-height: 25%;
       }
    </style>
</head>
<body>

<div class="container-fluid text-center ">

    <form th:action="@{/login}"
          method="post"
          style="max-width: 350px; margin: 0 auto;">

        <img alt="" src="./assets/icon.jpg" />
        <!-- On Logout -->
        <div th:if="${param.logout}">
            <p class="text-info">You have been logged out.</p>
        </div>

        <div class="border border-secondary p-3 rounded">

            <div class="">
                <input name="username" placeholder="username here..." type="text" class="form-control" required autofocus>
            </div>

            <div>
                <input name="password" placeholder="password here..." type="password" class="form-control" required autofocus>
            </div>

            <div>
                <input name="remember-me" type="checkbox" />&nbsp;Remember Me
            </div>

            <div>
                <input type="submit"
                       value="Login"
                       class="btn btn-primary" />
            </div>

        </div>
        

    </form>

</div>
<div class="signup-form">
    <div class="title"></div>
    <form th:action="@{/register}"
          method="post"
          style="max-width: 350px; margin: 0 auto;">

        <img alt="" src="./assets/icon.jpg" />

        <div class="button input-box">
            <input type="submit" value="Register">
        </div>

    </form>
</div>

</body>
</html>